

.rnk-comp-store {
  margin-top: 40px;
  margin-bottom: 40px;
  align-items: center;
  background: rgb(25, 134, 116);
  border-radius: 15px;
  color: var(--color-dark);
  display: flex;
  font: var(--rnk-font-normal) 14px var(--rnk-font-primary);
  justify-content: space-between;
  padding: 30px 20px;
  position: relative;
  text-decoration: none!important;
  transition: all .3s ease-in-out;
  margin-right: 100px;
  
}
.img-fluid {
  max-width: 100%;
  height: 40px;
}

.carouselExampleControls{
  padding:5%;
}